.features .glyphicon{
	font-size: 32px;
}

html{
	position: relative;
	min-height: 100%;
}

body{
/*	margin bottom by footer height*/
	margin-bottom: 200px;
}

.footer{
	position: absolute;
	bottom:0;
	width: 100%;
/*	set the fixed height of the footer here*/
	height: 200px;
}

.footer{
	color: #efefef;
	background-color: #333;
}

.footer a{
	color: #9af7f3;
}

@media only screen and (max-width: 768px){
	body{
		margin-bottom: 400px;
	}
	.footer{
		height: 400px;
	}
}

.footer .glyphicon{
	font-size: 14px;
}