html{
	position: relative;
	min-height: 100%;
}
body{
/*	margin bottom by footer height*/
	margin-bottom: 220px;
	font-family: "Monteserat","Open Sans","Roboto","Oswald";
	background-color: #ebedf3;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
/*	set the fixed height og tht footer here*/
	height: 220px;
	background-color: #444;
	color: #efefef;
	padding: 30px 0;
}

@media only screen and (max-width: 768px){
body{margin-bottom: 400px;}
.footer{height: 370px;}
}

.footer a{
	color: #639bcf;
}
.footer a:hover{
	color: #dBe6f3;
}

/* index.hmtl*/
.featurette .glyphicon{
	font-size: 32px;
}

.container{
	max-width: 960px;
}

.row{
	margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
	.row{
		margin-bottom: -6px;
	}
}

,well{
	background-color: transparent;
}

/* change the nav */
.navbar{
	background-color: rgb(51,122,183);
}

.navbar a{
	color: #dbe6f3;
}

.nav>li>a:focus,.nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #204d74;
	color: #fff;
}

.navbar-toggle .icon-bar{
	background-color: #dBe6f3;
}

.navbar-inverse .navbar-toggle:hover{
	background-color: rgb(51,122,183);
}

.banner{
    	font-family: "Oswald";
			font-size: 64px;
			letter-spacing: 4px;
			color: #fff!important;
    	font-weight: bold;
     	
    }
    p{
    	font-weight: 400;
			font-size: 16px;
    }
    
    p span{
    	background-color: #000;
			color: #fff;
			display: inline-block;
			font-family: "Oswald";
			letter-spacing: 2px;
			padding-left: 8px;
			padding-right: 8px;
			text-align: center;
    }
		
		.photo {
			background-attachment: fixed;
			background-position: 50% 0;
			background-repeat: no-repeat;
			height: 450px;
			position: relative;
		}
		.photo span {
			bottom: 0;
			color: white;
			display: block;
			left: 50%;
			margin-left: -640px;
			font-size: 38px;
			padding: 10px;
			position: absolute;
			text-shadow: 0 2px 0 black, 0 0 10px black;
/*			width: 1280px;*/
		}
		.summer {
			background-image: url(../imgs/woman_sketch.jpeg);
		}
		.autumn {
			background-image: url(../imgs/fish_pattern.jpeg);
		}
		.winter {
			background-image: url(../imgs/IMAG7447_1_1.jpg);
		}
		.spring {
			background-image: url(images/spring.jpg);
		}
		
		.underline{
			border-bottom: 1px solid grey;
		}

		.copyright a{
			color: #fff;
		}

		.copyright i{
			color: #fff;
			text-decoration: none;
		}

		.copyright a:hover{
			color: red;
			text-decoration: none;
		}